# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.idea/
*.lock

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Keep APK in releases/
!releases/*.apk
