APP_NAME="Kyrios My Boutique"
APP_URL=https://kyriosboutique.page.gd
APP_DEBUG=false

DB_HOST=sql301.infinityfree.com
DB_PORT=3306
DB_NAME=if0_42727746_kyriosboutique
DB_USER=if0_42727746
DB_PASS=3SJiUMv1dY

# Google OAuth - https://console.cloud.google.com/
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://kyriosboutique.page.gd/auth/google/callback.php

# Stripe (optionnel) - https://dashboard.stripe.com/
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
